/*//// Menu Container General Styles ////*/
.menu-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  border-top: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1.2rem;
  z-index: 888;
  background-color: var(--menu-background);
  overflow: hidden;
  transition: all 0.4s ease;
}

.menu-container-translate {
  transform: translateY(80%);
}
/* //////// */

/*//// Toggle Button Style ////*/
.menu-toggler {
  padding-bottom: 1.8rem;
}

.line-button {
  width: 3.8rem;
  height: .2rem;
  background-color: var(--line-background-color);
  border-radius: .3rem; 
}
/* //////// */

/*//// Location Input Styles ////*/
.input-container {
  position: relative;
}


.location-input {
  height: 5rem;
  border-radius: 50rem;
  border: 1px solid var(--border-color)
}

.open-options {
  border-radius: 2.5rem 2.5rem 0 0;
}

.options-container {
  display: flex;
  flex-direction: column;
  border-collapse: collapse;
  width: 28rem;
  transition: 0.3s ease all;
}


.option-button {
  padding: .4rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}

.options-container:last-child {
  border-radius: 25%;
}
.clear-input {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  background-color: var(--btn-background);
  color: #747574;
  padding: .2rem 1rem;
  cursor: pointer;
  border-radius: 100%;
}
/* //////// */

/*//// Filter Buttons Styles ////*/
.filter-container {
  margin-top: 1.8rem;
  display: flex;
  gap: 3.2rem;
}

.filter-button {
  background-color: var(--btn-background);
  padding: 1.2rem;
  border-radius: 50%;
  transition: all 0.4s;
}

.filter-button:hover {
  transform: scale(105%);
  background-color: var(--btn-hover-background)
}
/* //////// */

/*//// Pet List Styles ////*/
.list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 22rem;
  overflow: auto;
}

.text {
  margin: 1.6rem 0 1.2rem 0;
  text-align: center;
}

.list-container {
  display: flex;
  gap: 1.2rem;
}

/* Pet Article Style */
.pet-container {
  display: flex;
  width: 100%;
  gap: 6.2rem;
  align-items: center;
  justify-content: center;
}

.pet-thumbnail {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
}

.pet-text {
  width: 12rem;
  display: flex;
}

.pet-icon {
  width: 3.2rem;
}

.pet-article{
  transition: 0.3s ease;
  padding: 1.2rem 0;
  width: 100%;
}

.pet-article:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.buttons_add_relocate-container {
  display: flex;
  gap: .6rem;
}
/* //////// */

/*//// Add/Relocate Buttons Style ////*/
.btn {
  padding: .8rem .8rem;
  background-color: var(--btn-background);
  border-radius: 50%;
  transition: 0.3s all ease;
  border-radius: 50%;
  border: 1px solid var(--light-border-color);
  transition: 0.3s all ease;
}

.buttons_add_relocate-container {
  position: fixed;
  bottom: 65%;
  right: 5%;
  transition: all 0.3s ease;
}
/* //////// */

/*//// User Container Style ////*/
.userinfo-container {
  padding: 1rem;
  display: flex;
  gap: 12px;
  align-items: center;
}


.userinfo-container > img {
  width: 7rem;
  border-radius:  50%;
}

@media (max-width: 1200px) {
  .buttons_add_relocate-container-translate {
    transform: translateY(750%);
  }
}


                                  /*//// MEDIAS ////*/



@media (min-width: 1200px) {

/*//// Menu Container General Responsive Styles ////*/
  .list-container {
    height: 70rem;
  }
  .menu-container {
    width: 44rem;
    position: fixed;
    top: 0;
    border-right: 1px solid var(--border-color);
    justify-content: start;
  }

  .menu-container-translate {
    transform: translateX(-90%);
  }
/* //////// */

/*//// Toggle Button Responsive Style ////*/
  .menu-toggler {
      position: absolute;
      right: 5%;
      top: 50%;
      transform: translateY(-50%);
    } 
  .line-button {
    width: .2rem;
    height: 4.8rem;
    }
/* //////// */

/*//// Location Input Responsive Styles ////*/
  .input-container {
    margin-top: 2.4rem;
  }

  .options-container {
    width: 26rem;
  }

  .location-input {
    width: 26rem;
    padding: 1.2rem 3.2rem;
  }

  
/* //////// */

/*//// Filter Buttons Resposive Styles ////*/
  .filter-container {
    margin-top: 2.4rem;
  }
/* //////// */

/*//// Pet List Styles ////*/
  .list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 70rem;
  }
/* //////// */

/*//// Add/Relocate Buttons Responsive Style ////*/
  .buttons_add_relocate-container {
    position: absolute;
    right: 1%;
    bottom: 5%;
  }

  .btn {
    padding: 1.4rem 1.4rem;
  }

  .btn:hover {
    scale: 95%;
  }
  
  .btn-add:hover {
    scale: 95%;
  }
/* //////// */

/*//// UserInfo container style ////*/
.userinfo-container > img {
  width: 10rem;
}
/* //////// */
}

@media (min-width: 1800px) {
  /*//// Menu Container General Responsive Styles ////*/
  .menu-container {
    width: 44rem;
  }
  /* //////// */

  /*//// Location Input Responsive Styles ////*/
  .location-input {
    width: 36rem;
    padding: 1.2rem 3.2rem;
  }

  .options-container {
    width: 36rem;
  }
  /* //////// */
}

