:root {
    --border-color: #606061;
    --light-border-color: #aaa;
    --line-background-color: #444;
    --input-background-color: #9f9f9e;
    --menu-background: #fefffe;
    --btn-background: #f5f5f5;
    --btn-hover-background: #f1f1f1;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.main-page {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.loading-window {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    width: 38rem;
    height: 32rem;
    background-color: #ffffffe1;
    gap: 2.4rem;
    transform: translate(-50%, -50%);
    border: 1px solid #000
}